.bookContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.bookList {
    width: 80%;
}

.bookListItemPaper {
    padding: 10px;
    display: flex;
    width: 80%;
}

.bookImage {
    width: 180px;
    height: 200px;
}